.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.9rem 1.5rem;
  border-radius: 12px;
  color: var(--background-hover-text);
  text-decoration: none;
  cursor: pointer;
  transition: background 0.2s ease;
  background: var(--background-logo);
}

.btn:hover {
  background: var(--background-logo-hover);
  color: var(--background-page);
  box-shadow: 0 0 30px rgba(124, 108, 255, 0.5);
  transition: 0.2s ease;
  
}
