services:
  api:
    build: ./api
    container_name: portfolio-api
    ports:
      - "3001:3001"
    env_file:
      - .env
    command: npm run dev

  frontend:
    build: ./frontend
    container_name: portfolio-frontend
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    command: npm run dev
    depends_on:
      - api
