.section {
  padding: 6rem 0;
  background: var(--background-card);
}


.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 1.5rem;
  text-align: center;
  
}

.title {
  font-size: clamp(1.5rem, 4vw, 2.5rem);
  font-weight: 700;
  color: var(--background-hover-text);
  
}

.line {
  width: 60px;
  height: 3px;
  margin: 0.75rem auto 1.75rem;
  border-radius: 2px;
}

.description {
  color: var(--text-color);
  margin-bottom: 3rem;
  line-height: 1.6;
  font-size: 1rem;
}

.form {
  backdrop-filter: blur(15px);
  border-radius: 20px;
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background: var(--background-card);
  border: 1px solid var(--card-border);
  box-shadow:
    0 0 0 1px var(--background-li),
    0 20px 40px rgba(0, 0, 0, 0.6);
  transition: all 0.3s ease;
  
  
}

.form:hover {
  transform: translateY(-6px);
  box-shadow: 0 0 30px rgba(97, 53, 242, 0.4);
}

.form input,
.form textarea {
  background: var(--background-card);
  border: 1px solid var(--card-border);
  border-radius: 14px;
  padding: 0.95rem 1rem;
  color: var(--background-hover-text);
  font-size: 1rem;
  transition: all 0.3s ease;
}

.form textarea {
  min-height: 140px;
  resize: none;
}


.form input:focus,
.form textarea:focus {
  outline: none;
  border-color:var(--border-color);
  box-shadow: 0 0 15px rgba(124, 108, 255, 0.3);
}

/* BOTÃO */
.form button {
  margin-top: 1rem;
  padding: 0.95rem;
  border-radius: 16px;
  border:none;
  color: var(--background-hover-text);
  background: var(--background-logo);
  font-weight: 600;
  cursor: pointer;
  font-size: 1rem;
  transition: all 0.4s ease;
}

.form button:hover {
  background: var(--background-logo-hover);
  color: var(--background-page);
  box-shadow: 0 0 30px rgba(124, 108, 255, 0.5);
  transform: translateY(-2px);
}

/* SUCCESS / ERROR */
.success {
  color: #4ade80;
  margin-top: 1rem;
  font-weight: 500;
  animation: fadeUp 0.8s ease forwards;
}

.error {
  color: #f87171;
  margin-top: 1rem;
  font-weight: 500;
  animation: fadeUp 0.8s ease forwards;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(60px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
