/* Ícone do menu */
.hamburguer {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 26px;
  height: 18px;
  cursor: pointer;
  z-index: 1100;
}

.hamburguer span {
  display: block;
  height: 3px;
  width: 100%;
  background: var(--text-color);
  border-radius: 2px;
  transition: all 0.3s ease;
}

/* Animação quando ativo (vira X) */
.hamburguer span.active:nth-child(1) {
  transform: translateY(7.5px) rotate(45deg);
}

.hamburguer span.active:nth-child(2) {
  opacity: 0;
}

.hamburguer span.active:nth-child(3) {
  transform: translateY(-7.5px) rotate(-45deg);
}

.mobileMenu {
  position: fixed;
  top: 40px; /* logo abaixo do header */
  right: 1rem;
  width: 220px;
  background:var(--background-header);
  backdrop-filter: blur(10px);
  border-radius: 12px;
  list-style: none;
  padding: 1.25rem 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.35);
  transform: scale(0.9) translateY(-10px);
  opacity: 0;
  pointer-events: none;
  transition: all 0.25s ease;
  z-index: 900;
}

.mobileMenu.open {
  transform: scale(1) translateY(2);
  opacity: 1;
  pointer-events: auto;
}

.mobileMenu li a {
  color: #fff;
  font-size: 1rem;
  text-decoration: none;
  padding: 0.5rem 1.5rem;
  width: 100%;
  display: block;
  transition: background 0.2s ease;
}

.mobileMenu li a:hover {
  background: rgba(255, 255, 255, 0.08);
}

.mobileMenu li {
  position: relative;
}
.mobileMenu li::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 1.5rem;
  right: 1.5rem;
  height: 1px;
  background: rgba(255, 255, 255, 0.24);
}

.mobileMenu li:last-child::after {
  display: none;
}


/* Apenas mobile */
@media (max-width: 768px) {
  .hamburguer {
    display: flex;
    
  }
}
