
.hero {
  width: 100%;
  height: 100vh;
  min-height: 100svh;
  position: relative;
  overflow: hidden;

  display: flex;
  align-items: center;
}

/* overlay leve pra contraste */
.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.65);
  z-index: 1;
}

.content {
  position: relative;
  z-index: 2;

  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  padding: 0 2rem;
  color: var(--background-hover-text);
  
}

.content h1 {
  font-size: clamp(2.5rem, 6vw, 4rem);
  margin-bottom: 0.5rem;
  background: var(--background-logo);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.content p {
  font-size: clamp(1.2rem, 3vw, 1.8rem);
  opacity: 0.85;
  display: flex;
  justify-content: space-between;
  color: var(--text-color)

}
