
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


*{
    font-family: 'Work Sans', sans-serif;
    box-sizing: border-box;
}

:root {
    --background-header:linear-gradient(180deg, #0a0f1d, #020617);
    --background-logo:linear-gradient(90deg, #0d54ee, #06b6d4);
    --background-hover-text: #fff;
    --text-color:#afb7c0;
    
}


html, body {
  margin: 0;
  padding: 0;
  width: 100%;
}