
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


*{
    font-family: 'Work Sans', sans-serif;
}

:root {
    --background-header:linear-gradient(180deg, #0a0f1d, #020617);
    --background-logo:linear-gradient(90deg, #6d21f0, #06b6d4);
    --background-hover-text: #afb7c0;
    --text-color:#e5e7eb;
    
}