.header {
  width: 100%;
  background:var(--background-header);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 900;
  border-bottom: 1px solid rgba(255,255,255,0.05);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content:space-between;
}

.logo {
  font-size: 1.4rem;
  font-weight: 700;
  cursor: pointer;
  background: var(--background-logo);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav {
  display: flex;
  gap: 2rem;
}

.nav a {
  color:var(--text-color);
  text-decoration: none;
  font-size: 0.95rem;
  position: relative;
  transition: color 0.2s ease;
}

.nav a:hover {
  color:var(--background-hover-text);
}

.nav a::after {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 0%;
  height: 2px;
  background: #034ba3;
  transition: width 0.3s ease;
}

.nav a:hover::after {
  width: 100%;
}
/*Social media */
.contact {
  display: flex;
  align-items: center;
  gap: 16px;
}

.contact a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact img {
  width: 20px;
  height: 20px;
  filter: brightness(0) invert();
  opacity: 0.7;
  transition: opacity 0.2s ease, transform 0.2s ease;
}

.contact img:hover {
  opacity: 1;
  transform: translateY(-2px);
}


@media (max-width: 768px) {
  .container {
    padding: 1rem 1.25rem;
  }

  .logo {
    font-size: 1.2rem;
  }

  /* Esconde o menu no mobile */
  .nav {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: var(--background-header);

    flex-direction: column;
    align-items: center;
    gap: 1.5rem;

    padding: 1.5rem 0;
    display: none;
  }

  /* Quando ativo */
  .nav.active {
    display: flex;
  }

  .nav a {
    font-size: 1.1rem;
  }

  .nav a::after {
    display: none;
  }

  /* Ícones um pouco maiores */
  .contact img {
    width: 22px;
    height: 22px;
  }
}
